* {
}

body {
  margin-top: 0px;
  margin: 20px auto;
  line-height: 1.5em;
}

input{
  border: 2px solid #808080;
  color: #000000;
  background-color: #ffffff;
}

table {
  border-color: #008000;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  color: #222;
  font-size: 10px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 2px;
  padding-top: 2px;
  padding-left: 4px;
  line-height: 2em;
  background-color: #efefff;
  border-bottom: 1px solid #ddf;
}

#hautpage {
  width: 90%;
  margin-top: 5px;
}

#hautpage_gauche {
	float:left;
  margin-bottom: 5px;
}

#hautpage_droite {
	float:right;
  margin-bottom: 5px;
}

#hautpage_droite input {
  	width:120px;
}

#corpus {
  width: 90%;
  height: 800px;
  clear: both;
  font-size: 11px;
  border-color: ;
  border-top: #008000 1px solid;
  border-bottom: #008000 1px solid;
  border-collapse: collapse;
}

#barhaut {
  clear: both;
  border-bottom: #008000 1px solid;
  border-right: #008000 1px solid;
  block-size: 20px;
  margin-bottom: 0px;
  padding-left: 3px;
  line-height: 15px;
  vertical-align: bottom;
}

#menu {
  clear: both;
  border-right: #008000 1px solid;
  border-left: #008000 1px solid;
  padding-left: 10px;
  padding-right: 2px;
  width: 150px;

}

#intern {
  clear: both;
  border-right: #008000 1px solid;
}

.dropbtn {
  color: black;
  padding: 14px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
